/* Responsive overrides */
@media screen and (max-width : 1599px) {
    /* 레이아웃 */
   header{
    position: relative;
    width: 100%;
    height: 80px;
   } 
   nav{
    width: 100%;
    margin-left: 0;
   }
   section{
    width: 100%;
    margin-left: 0;
   }
   header h1{
    width: 200px;
    height: 40px;
    background-image: url(../img2/logo.png);
    left: 20px; top: 20px; margin-left: 0;
   }
   #gnb{
    top: 20px;
    right: 200px;
   }
   #gnb li{
    float: left;
   }
   .snsset{
    bottom: 20px;
    right: 80px;
   }
}

@media screen and (max-width: 1279px) {
    /* header, nav, section  같다 */
    article:nth-child(1){
        width: 75%;
    }
    article:nth-child(2){
        width: 25%;
    }
    article:nth-child(3){
        width: 25%;
    }
    article:nth-child(4){
        width: 25%;
    }
    article:nth-child(5){
        width: 25%;
    }
    article:nth-child(6){
        width: 50%;
    }
    article:nth-child(7){
        width: 50%;
    }
    article:nth-child(8){
        width: 25%;
    }
    article:nth-child(9){
        width: 25%;
    }
    article:nth-child(10){
        width: 50%;
    }
    article:nth-child(11){
        width: 25%;
    }
    article:nth-child(12){
        width: 25%;
    }
    #gnb{
        right: 30px;
    }
    .snsset{
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    article:nth-child(1){
        width: 100%;
        height: 400px;
    }
    article:nth-child(2){
        width: 66.667%;
    }
    article:nth-child(3){
        width: 33.333%;
    }
    article:nth-child(4){
        width: 33.333%;
        display: none;
    }
    article:nth-child(5){
        width: 33.333%;
    }
    article:nth-child(6){
        width: 66.667%;
    }
    article:nth-child(7){
        width: 66.667%;
        display: none;
    }
    article:nth-child(8){
        width: 33.333%;
    }
    article:nth-child(9){
        width: 33.333%;
    }
    article:nth-child(10){
        width: 66.667%;
        display: none;
    }
    article:nth-child(11){
        width: 33.333%;        
    }
    article:nth-child(12){
        width: 33.333%;
        display: none;        
    }
    #gnb{
        right: 10px;
    }
    #gnb a{
        padding: 10px;
    }
}

@media screen and (max-width: 779px) {
    article:nth-child(1){
        width: 100%;
        height: 400px;
    }
    article:nth-child(2){
        width: 100%;
    }
    article:nth-child(3){
        width: 33.333%;
        display:none;
    }
    article:nth-child(4){
        width: 33.333%;
        display: none;
    }
    article:nth-child(5){
        width: 50%;
    }
    article:nth-child(6){
        width: 50%;
    }
    article:nth-child(7){
        width: 66.667%;
        display: none;
    }
    article:nth-child(8){
        width: 50%;
    }
    article:nth-child(9){
        width: 50%;
    }
    article:nth-child(10){
        width: 66.667%;
        display: none;
    }
    article:nth-child(11){
        width: 50%;        
    }
    article:nth-child(12){
        width: 50%;
        display: block;        
    }
}

@media screen and (max-width: 639px) {
    header{
        height: 139px;
    }
    nav{
        display: none;
    }
    article{
        height: 150px;
    }
    article:nth-child(1){
        height: 300px;
    }
    header h1{
        width: 200px;
        height: 45px;
        left: 50%;
        margin-left: -100px;
    }
    #gnb{
        width: 100%;
        height: 40px;
        top: 80px;
        right: 0;
    }
    #gnb li{
        width: 25%;
    }
    #gnb li a{
        padding: 4px;
        text-align: center;
    }
    article .bg1 span{
        font-size: 120px;
        bottom: 30px;
    }
    article .txt strong{
        font-size: 25px;
    }
    article .txt em{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    header{
        position: fixed;
        width: 100%;
        height: 40px;
        background: transparent;
        z-index: 5;
    }
    nav{
        display: none;
    }
    section{
        width: 100%;
        z-index: 4;
    }
    article{
        display: none;
    }
    article:nth-child(12){
        display: none;
    }
    article:nth-child(1){
        display: block;
        position: fixed;
        width: 100%;height: 100%;
    }
    header h1{
        width: 140px;
        margin-left: -70px;
        top: 50px;
    }
    #gnb{
        width: 250px;
        top: 140px;
        right: 50%;
        margin-right: -125px;
        margin-top: 20px;
    }
    #gnb li{
        width: 100%;
    }
    #gnb li a{
        width: 100%;
        background: #000;
        margin: 10px 0;
        border-radius: 10px;
        padding: 10px 0;
        color: #fff;
        opacity: .5;
    }
    #gnb li a:hover{
        opacity: 1; transform: scale(1.1);
    }
    article:nth-child(1) span{
        display: none;
    }
}
